In [2]:
import pandas as pd
import numpy as np
import time

In [3]:
path = '../data/kaggle/nba_data_processed.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)
print(df.shape)
df.head(4)

(705, 29)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,23.0,TOR,55.0,12.0,20.7,3.6,7.3,0.485,...,0.702,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2
1,Steven Adams,C,29.0,MEM,42.0,42.0,27.0,3.7,6.3,0.597,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
2,Bam Adebayo,C,25.0,MIA,75.0,75.0,34.6,8.0,14.9,0.540,...,0.806,2.5,6.7,9.2,3.2,1.2,0.8,2.5,2.8,20.4
3,Ochai Agbaji,SG,22.0,UTA,59.0,22.0,20.5,2.8,6.5,0.427,...,0.812,0.7,1.3,2.1,1.1,0.3,0.3,0.7,1.7,7.9

In [4]:
df.dropna(how='all',inplace=True)

In [5]:
col_names = ["FT%","3P%","2P%","eFG%","FG%",'FT','3PA','2PA','FG']
df.loc[df.isnull()['FT%']][col_names]

     FT%    3P%    2P%   eFG%    FG%   FT  3PA  2PA   FG
16   NaN  0.348  0.071  0.351  0.243  0.0  1.2  0.7  0.5
17   NaN  0.333  0.000  0.300  0.200  0.0  0.3  0.2  0.1
18   NaN  0.350  0.083  0.359  0.250  0.0  2.2  1.3  0.9
67   NaN  0.000  0.188  0.150  0.150  0.0  0.3  1.1  0.2
74   NaN  0.000    NaN  0.000  0.000  0.0  1.0  0.0  0.0
92   NaN    NaN    NaN    NaN    NaN  0.0  0.0  0.0  0.0
93   NaN  0.000  0.000  0.000  0.000  0.0  0.5  0.5  0.0
101  NaN  0.000  0.000  0.000  0.000  0.0  0.5  0.5  0.0
102  NaN  0.500  0.444  0.578  0.469  0.0  2.3  3.0  2.5
117  NaN  0.000  0.000  0.000  0.000  0.0  0.5  0.5  0.0
119  NaN  0.200  0.400  0.367  0.333  0.0  1.0  2.0  1.0
120  NaN    NaN  1.000  1.000  1.000  0.0  0.0  1.0  1.0
121  NaN  0.200  0.143  0.208  0.167  0.0  2.5  3.5  1.0
167  NaN  0.500  1.000  0.900  0.800  0.0  0.7  1.0  1.3
170  NaN  0.250  0.000  0.150  0.100  0.0  0.7  1.0  0.2
172  NaN  0.125  0.471  0.333  0.303  0.0  1.0  1.1  0.6
203  NaN    NaN    NaN    NaN    NaN  0.0  0.0  0.0  0.0
219  NaN  0.333    NaN  0.500  0.333  0.0  3.0  0.0  1.0
233  NaN  0.375  0.000  0.409  0.273  0.0  2.7  1.0  1.0
281  NaN  0.333  1.000  0.625  0.500  0.0  0.6  0.2  0.4
285  NaN  0.345  0.474  0.504  0.384  0.0  3.1  1.4  1.7
309  NaN  0.000  0.000  0.000  0.000  0.0  1.0  2.0  0.0
349  NaN  0.250    NaN  0.375  0.250  0.0  1.3  0.0  0.3
376  NaN    NaN  1.000  1.000  1.000  0.0  0.0  1.0  1.0
380  NaN  0.000  1.000  0.750  0.750  0.0  0.5  1.5  1.5
450  NaN  0.333  0.333  0.389  0.333  0.0  0.8  1.5  0.8
456  NaN  0.364  0.545  0.545  0.424  0.0  2.8  1.4  1.8
522  NaN  0.571  0.750  0.800  0.667  0.0  1.0  1.1  1.4
576  NaN  1.000  0.000  0.750  0.500  0.0  0.5  0.5  0.5
580  NaN    NaN  0.400  0.400  0.400  0.0  0.0  1.0  0.4
588  NaN    NaN  1.000  1.000  1.000  0.0  0.0  1.0  1.0
597  NaN  0.167  0.500  0.393  0.357  0.0  1.2  1.6  1.0
611  NaN  0.375  0.000  0.500  0.333  0.0  1.1  0.1  0.4
673  NaN  0.250  0.000  0.321  0.214  0.0  1.3  0.2  0.3
677  NaN    NaN    NaN    NaN    NaN  0.0  0.0  0.0  0.0
678  NaN  0.000  0.667  0.400  0.400  0.0  1.0  1.5  1.0
691  NaN  0.500  1.000  0.833  0.667  0.0  0.7  0.3  0.7

In [6]:
df.fillna(0,inplace=True)

In [7]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

        datos sin NAs en q  Na en q  Na en %
Player                 679        0      0.0
2P%                    679        0      0.0
PF                     679        0      0.0
TOV                    679        0      0.0
BLK                    679        0      0.0
STL                    679        0      0.0
AST                    679        0      0.0
TRB                    679        0      0.0
DRB                    679        0      0.0
ORB                    679        0      0.0
FT%                    679        0      0.0
FTA                    679        0      0.0
FT                     679        0      0.0
eFG%                   679        0      0.0
2PA                    679        0      0.0
Pos                    679        0      0.0
2P                     679        0      0.0
3P%                    679        0      0.0
3PA                    679        0      0.0
3P                     679        0      0.0
FG%                    679        0      0.0
FGA                    679        0      0.0
FG                     679        0      0.0
MP                     679        0      0.0
GS                     679        0      0.0
G                      679        0      0.0
Tm                     679        0      0.0
Age                    679        0      0.0
PTS                    679        0      0.0

In [8]:
df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,23.0,TOR,55.0,12.0,20.7,3.6,7.3,0.485,...,0.702,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2
1,Steven Adams,C,29.0,MEM,42.0,42.0,27.0,3.7,6.3,0.597,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
2,Bam Adebayo,C,25.0,MIA,75.0,75.0,34.6,8.0,14.9,0.540,...,0.806,2.5,6.7,9.2,3.2,1.2,0.8,2.5,2.8,20.4
3,Ochai Agbaji,SG,22.0,UTA,59.0,22.0,20.5,2.8,6.5,0.427,...,0.812,0.7,1.3,2.1,1.1,0.3,0.3,0.7,1.7,7.9
4,Santi Aldama,PF,22.0,MEM,77.0,20.0,21.8,3.2,6.8,0.470,...,0.750,1.1,3.7,4.8,1.3,0.6,0.6,0.8,1.9,9.0

In [10]:
# Paso 1: Agrupar los datos por equipo y posiciÃ³n
agrupado_por_equipo_posicion = df.groupby(['Tm', 'Pos']).agg({
    'PTS': 'mean',  # Promedio de puntos
    'AST': 'mean',  # Promedio de asistencias
    'TRB': 'mean'   # Promedio de rebotes
}).reset_index()

print(agrupado_por_equipo_posicion)

      Tm Pos        PTS       AST       TRB
0    ATL   C   7.000000  0.700000  5.375000
1    ATL  PF  13.100000  1.200000  6.500000
2    ATL  PG  10.433333  4.066667  1.700000
3    ATL  SF   8.400000  1.083333  3.283333
4    ATL  SG   7.483333  1.833333  2.166667
..   ...  ..        ...       ...       ...
156  WAS   C   8.680000  1.240000  3.980000
157  WAS  PF   8.560000  1.360000  3.800000
158  WAS  PG   5.166667  2.483333  2.316667
159  WAS  SF   7.266667  1.500000  3.066667
160  WAS  SG  11.050000  2.650000  2.675000

[161 rows x 5 columns]

In [14]:
# Paso 2: Calcular la eficiencia de los jugadores
# La eficiencia se define como la suma de puntos, asistencias y rebotes por juego.
df['eficiencia'] = df['PTS'] + df['AST'] + df['TRB']
# Agrupar por equipo y posiciÃ³n, y calcular la eficiencia promedio por posiciÃ³n en cada equipo
eficiencia_por_equipo_posicion = df.groupby(['Tm', 'Pos']).apply(
    lambda x: pd.Series({
        'Eficiencia Promedio': x['eficiencia'].mean()
    })
).reset_index()
print(eficiencia_por_equipo_posicion)

      Tm Pos  Eficiencia Promedio
0    ATL   C            13.075000
1    ATL  PF            20.800000
2    ATL  PG            16.200000
3    ATL  SF            12.766667
4    ATL  SG            11.483333
..   ...  ..                  ...
156  WAS   C            13.900000
157  WAS  PF            13.720000
158  WAS  PG             9.966667
159  WAS  SF            11.833333
160  WAS  SG            16.375000

[161 rows x 3 columns]

/var/folders/02/wzc8k1dn7bsgd14yfq9md5l40000gn/T/ipykernel_93321/1470240936.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  eficiencia_por_equipo_posicion = df.groupby(['Tm', 'Pos']).apply(

In [16]:
# Paso 3: Identificar al jugador mÃ¡s eficiente por equipo y posiciÃ³n
jugador_mas_eficiente = df.groupby(['Tm', 'Pos']).apply(
    lambda x: x.loc[x['eficiencia'].idxmax(), ['Player', 'eficiencia']]
).reset_index()

print(jugador_mas_eficiente)

      Tm Pos              Player  eficiencia
0    ATL   C        Clint Capela        23.9
1    ATL  PF        John Collins        20.8
2    ATL  PG          Trae Young        39.4
3    ATL  SF     De'Andre Hunter        21.0
4    ATL  SG     Dejounte Murray        31.9
..   ...  ..                 ...         ...
156  WAS   C  Kristaps PorziÅ†Ä£is        34.3
157  WAS  PF          Kyle Kuzma        32.1
158  WAS  PG        Monte Morris        19.0
159  WAS  SF         Deni Avdija        18.4
160  WAS  SG        Bradley Beal        32.5

[161 rows x 4 columns]

/var/folders/02/wzc8k1dn7bsgd14yfq9md5l40000gn/T/ipykernel_93321/1742863198.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  jugador_mas_eficiente = df.groupby(['Tm', 'Pos']).apply(