In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
path = '../data/kaggle/nba_data_processed.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)
print(df.shape)
df.head(4)

(705, 29)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,23.0,TOR,55.0,12.0,20.7,3.6,7.3,0.485,...,0.702,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2
1,Steven Adams,C,29.0,MEM,42.0,42.0,27.0,3.7,6.3,0.597,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
2,Bam Adebayo,C,25.0,MIA,75.0,75.0,34.6,8.0,14.9,0.540,...,0.806,2.5,6.7,9.2,3.2,1.2,0.8,2.5,2.8,20.4
3,Ochai Agbaji,SG,22.0,UTA,59.0,22.0,20.5,2.8,6.5,0.427,...,0.812,0.7,1.3,2.1,1.1,0.3,0.3,0.7,1.7,7.9

In [3]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

        datos sin NAs en q  Na en q  Na en %
FT%                    642       63     8.94
3P%                    655       50     7.09
2P%                    672       33     4.68
eFG%                   676       29     4.11
FG%                    676       29     4.11
Player                 679       26     3.69
PF                     679       26     3.69
TOV                    679       26     3.69
BLK                    679       26     3.69
STL                    679       26     3.69
AST                    679       26     3.69
TRB                    679       26     3.69
DRB                    679       26     3.69
ORB                    679       26     3.69
FTA                    679       26     3.69
FT                     679       26     3.69
2PA                    679       26     3.69
Pos                    679       26     3.69
2P                     679       26     3.69
3PA                    679       26     3.69
3P                     679       26     3.69
FGA                    679       26     3.69
FG                     679       26     3.69
MP                     679       26     3.69
GS                     679       26     3.69
G                      679       26     3.69
Tm                     679       26     3.69
Age                    679       26     3.69
PTS                    679       26     3.69

In [4]:
df.loc[df.isnull()['Player']]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dropna(how='all',inplace=True)
df.shape

(679, 29)

In [6]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

        datos sin NAs en q  Na en q  Na en %
FT%                    642       37     5.45
3P%                    655       24     3.53
2P%                    672        7     1.03
eFG%                   676        3     0.44
FG%                    676        3     0.44
Player                 679        0     0.00
PF                     679        0     0.00
TOV                    679        0     0.00
BLK                    679        0     0.00
STL                    679        0     0.00
AST                    679        0     0.00
TRB                    679        0     0.00
DRB                    679        0     0.00
ORB                    679        0     0.00
FTA                    679        0     0.00
FT                     679        0     0.00
2PA                    679        0     0.00
Pos                    679        0     0.00
2P                     679        0     0.00
3PA                    679        0     0.00
3P                     679        0     0.00
FGA                    679        0     0.00
FG                     679        0     0.00
MP                     679        0     0.00
GS                     679        0     0.00
G                      679        0     0.00
Tm                     679        0     0.00
Age                    679        0     0.00
PTS                    679        0     0.00

In [7]:
df.loc[df.isnull()['FT%']].head(10)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
16,Ryan Arcidiacono,PG,28.0,TOT,20.0,4.0,8.6,0.5,1.9,0.243,...,NaN,0.0,0.8,0.8,1.2,0.3,0.0,0.4,0.9,1.3
17,Ryan Arcidiacono,PG,28.0,NYK,11.0,0.0,2.4,0.1,0.5,0.200,...,NaN,0.0,0.4,0.4,0.2,0.2,0.0,0.1,0.3,0.3
18,Ryan Arcidiacono,PG,28.0,POR,9.0,4.0,16.2,0.9,3.6,0.250,...,NaN,0.0,1.2,1.2,2.3,0.3,0.0,0.7,1.6,2.6
67,Leandro Bolmaro,SF,22.0,UTA,14.0,0.0,4.9,0.2,1.4,0.150,...,NaN,0.3,0.2,0.5,0.5,0.2,0.1,0.5,0.7,0.4
74,Jamaree Bouyea,PG,23.0,WAS,1.0,0.0,6.0,0.0,1.0,0.000,...,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
92,Moses Brown,C,23.0,BRK,2.0,0.0,3.0,0.0,0.0,NaN,...,NaN,0.0,0.0,0.0,0.0,0.5,0.0,0.5,0.5,0.0
93,Sterling Brown,SF,27.0,LAL,4.0,0.0,6.0,0.0,1.0,0.000,...,NaN,0.8,1.3,2.0,0.5,0.8,0.0,0.0,1.0,0.0
101,Deonte Burton,PF,29.0,SAC,2.0,0.0,3.0,0.0,1.0,0.000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,Jared Butler,PG,22.0,OKC,6.0,1.0,12.8,2.5,5.3,0.469,...,NaN,0.2,0.5,0.7,1.3,0.8,0.0,0.8,0.8,6.2
117,Julian Champagnie,SF,21.0,PHI,2.0,0.0,3.5,0.0,1.0,0.000,...,NaN,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0

In [8]:
df.describe()['FT%']

count    642.000000
mean       0.752586
std        0.150094
min        0.000000
25%        0.686500
50%        0.769000
75%        0.844750
max        1.000000
Name: FT%, dtype: float64

In [9]:
valor_inputacion = df['FT%'].mean()
type(df['FT%'].fillna(valor_inputacion))

pandas.core.series.Series

In [10]:
df['FT%'].fillna(valor_inputacion,inplace = True)

/var/folders/02/wzc8k1dn7bsgd14yfq9md5l40000gn/T/ipykernel_71917/9387018.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FT%'].fillna(valor_inputacion,inplace = True)

In [11]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

        datos sin NAs en q  Na en q  Na en %
3P%                    655       24     3.53
2P%                    672        7     1.03
eFG%                   676        3     0.44
FG%                    676        3     0.44
Player                 679        0     0.00
PF                     679        0     0.00
TOV                    679        0     0.00
BLK                    679        0     0.00
STL                    679        0     0.00
AST                    679        0     0.00
TRB                    679        0     0.00
DRB                    679        0     0.00
ORB                    679        0     0.00
FT%                    679        0     0.00
FTA                    679        0     0.00
FT                     679        0     0.00
2PA                    679        0     0.00
Pos                    679        0     0.00
2P                     679        0     0.00
3PA                    679        0     0.00
3P                     679        0     0.00
FGA                    679        0     0.00
FG                     679        0     0.00
MP                     679        0     0.00
GS                     679        0     0.00
G                      679        0     0.00
Tm                     679        0     0.00
Age                    679        0     0.00
PTS                    679        0     0.00

In [12]:
start_time = time.time()
nuevos_valores = df['FT%'].fillna(valor_inputacion) # genera columna con valores no nulos originales y valores nulos imputados
df.loc[:,'FT%'] = nuevos_valores # reemplaza los valores nulos
execution_time = time.time() - start_time
print(execution_time*1000)

0.3230571746826172

In [13]:
qsna=df.shape[0]-df.isnull().sum(axis=0)
qna=df.isnull().sum(axis=0)
ppna=round(100*(df.isnull().sum(axis=0)/df.shape[0]),2)
aux= {'datos sin NAs en q': qsna, 'Na en q': qna ,'Na en %': ppna}
na=pd.DataFrame(data=aux)
na.sort_values(by='Na en %',ascending=False)

        datos sin NAs en q  Na en q  Na en %
3P%                    655       24     3.53
2P%                    672        7     1.03
eFG%                   676        3     0.44
FG%                    676        3     0.44
Player                 679        0     0.00
PF                     679        0     0.00
TOV                    679        0     0.00
BLK                    679        0     0.00
STL                    679        0     0.00
AST                    679        0     0.00
TRB                    679        0     0.00
DRB                    679        0     0.00
ORB                    679        0     0.00
FT%                    679        0     0.00
FTA                    679        0     0.00
FT                     679        0     0.00
2PA                    679        0     0.00
Pos                    679        0     0.00
2P                     679        0     0.00
3PA                    679        0     0.00
3P                     679        0     0.00
FGA                    679        0     0.00
FG                     679        0     0.00
MP                     679        0     0.00
GS                     679        0     0.00
G                      679        0     0.00
Tm                     679        0     0.00
Age                    679        0     0.00
PTS                    679        0     0.00

In [14]:
start_time = time.time()
valor_inputacion = {'FT%':df['FT%'].mean()} # genera un diccionario con el valor de imputacion
df.fillna(valor_inputacion,inplace = True) # reemplaza los valores nulos
execution_time = time.time() - start_time
print(execution_time*1000)

0.3190040588378906

In [15]:
df.describe()['FT%']

count    679.000000
mean       0.752586
std        0.145941
min        0.000000
25%        0.692000
50%        0.760000
75%        0.841000
max        1.000000
Name: FT%, dtype: float64

ffill
Fill values by propagating the last valid observation to next valid.

bfill
Fill values by using the next valid observation to fill the gap.

interpolate
Fill NaN values using interpolation.